.base-section {
  position: relative;
  display: block;
  width: 50%;
  height: auto;
  min-height: calc(100vh - 150px);
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  .atuin-btn {
    display: inline-flex;
    margin: 10px;
    width: 250px;
    padding: 10px 15px;
    text-decoration: none;
    border: 2px solid #BFE2FF;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    line-height: 18px;
    color: #FFF;
    font-weight: bold;
    background: #337AB7;
    text-align: center;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      transform: translateY(-4px);
      box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
      color: #FFF;
    }

    &:hover:before,
    &:active:before,
    &:focus:before {
      left: 100%;
    }
  }

  &__textarea {
    width: 100%;
    min-width: 300px;
    height: 250px;
    overflow-y: auto;
    width: 91%;
    margin: 10px;
    padding: 15px;
    border-radius: 7px;
    border: 0;
    font-size: 18px;
    line-height: 18px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  &__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  &__checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
  }

  &__checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }

  &__checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &__checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
  }

  &__checkbox:checked+label::before {
    border-color: #337AB7;
    background-color: #337AB7;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

  &__checkbox:disabled+label::before {
    background-color: #e9ecef;
  }
  .checkbox {
    margin-bottom: 1em;
  }
}

label {
  padding: 10px 15px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #337AB7;
}

textarea {
  width: 91%;
  height: 250px;
  resize: vertical;
  margin: 10px;
  padding: 15px;
  border-radius: 7px;
  border: 0;
  font-size: 18px;
  line-height: 18px;
  overflow: hidden;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

input[type=text] {
  width: 100px;
  padding: 12px 20px;
  margin: 10px;
  box-sizing: border-box;
  border: 2px solid #BFE2FF;
  border-radius: 7px;
  background-color: #337AB7;
  color: white;
  transition: width 0.4s ease-in-out;
  outline: none;
}

input[type=text]:focus {
  width: 250px;
  border-color: #b3d7ff;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
