<section class="base-section">
  <div class="center">
    <textarea placeholder = "Result..."></textarea>
  </div>
  <div class = "center">
    <label for = "valueUser">
      Введите текст или число
    </label>
    <input
      (keyup) = "onKey($event)"
      type = "text"
      name = "userValue">
  </div>
  <div class="checkbox center">
      <input
        class = "base-section__checkbox"
        type="checkbox"
        name = "register"
        id = "register"
        [checked] = "isChecked"
        (change) = onChangeRegister($event)>
      <label for = "register">
        чувствительность регистра поиска
      </label>
  </div>
  <div class="base-section__buttons">
    <button class="atuin-btn" (click)="filterByLenght()">
      Фильтр по длине слова
    </button>
    <button class="atuin-btn" (click)="filterByWords()">
      Фильтр по подстроке
    </button>
  </div>
</section>
